@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Black with transparency */
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: green;
    padding: 12px 20px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.navbar a:hover {
    color: #50b7f5; /* Light blue for hover */
    background-color: rgba(255, 255, 255, 0.2); /* Slight white background on hover for better legibility */
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85); /* Slightly transparent white for content backgrounds */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home, .about, .portfolio, .contact, .insights {
    margin-top: 20px;
    padding: 20px;
}

.home {
    text-align: center;
    color: white;
}

.about ul, .contact ul {
    list-style-type: none;
    padding: 0;
}

.about li, .contact li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    background: #e6f4ff;
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.email-link {
    background-color: #ff4500; /* Orange red */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.email-link:hover {
    background-color: #ff6347; /* Tomato */
}

.footer {
    background-color: rgba(0, 69, 124, 0.9); /* Matching navbar but with transparency */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
